/*기본설정*/
@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: 'Cafe24ClassicType-Regular';
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgba(0,0,0,0);
}

/*header*/
header> nav> h1 {
    text-align: center;
    font-size: 3rem;
    margin: 40px;
}

/*main*/
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.banner {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: auto;
    background-image: url("./img/모래배경.jpeg");
    background-size: cover;
}
.photo {
    width: 100%;
    max-height: 600px; 
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_wrapper {
    float: left;
}
.phrase_wrapper {
    display: inline;
    float: right;
    width: 40%;
    background-color: #04A1BA;
}
.phrase_wrapper> a {
    display: block;
    float: right;
    border: 2px solid black;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.phrase_wrapper> h3 {
    display: block;
    color: white;
    padding: 20px;
    font-size:2rem;
}

/*[모바일]*/
/*mobile:320px~480px~768, tablet:768px~, pc:1024px~*/
@media screen and (max-width: 768px){
    header> nav> h1 {
        text-align: center;
        font-size: 3rem;
    }
    .flex-container {
        flex-direction: column; /* 세로 방향으로 정렬 */
    }
    .banner {
        background-image: none;
        min-width: 320px;
    }
    .photo {
        max-width: 600px;
    }
    .img_wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .phrase_wrapper {
        position: absolute;
        /*padding: 0px 20px;*/
        margin-top: 200px;
        right: 0;
        width: 100%;
        max-height: 100%;
        min-width: 320px;
        background-color: rgba(0,0,0,0);
    }
    .phrase_wrapper> h3 {
        position: relative;
        color: white;
        font-size: 2.5rem;
    }
    
}